---
- name: Create Application Directory
  ansible.builtin.file:
    path: /opt/remnanode
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Create App Log Directory
  ansible.builtin.file:
    path: /var/log/remnanode
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Allow Node API Port (from Panel IP only)
  community.general.ufw:
    rule: allow
    port: "{{ node_api_port }}"
    proto: tcp
    from_ip: "{{ panel_ip }}"
  when: node_api_port is defined and panel_ip is defined

- name: Generate .env from Template
  ansible.builtin.template:
    src: env.j2
    dest: /opt/remnanode/.env
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"

- name: Copy docker-compose.yml
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: /opt/remnanode/docker-compose.yml
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Deploy Docker Compose Stack
  community.docker.docker_compose_v2:
    project_src: /opt/remnanode
    state: present
    pull: missing
  register: compose_output

- name: Show Deployment Status
  ansible.builtin.debug:
    var: compose_output.actions


# Logrotate
- name: Install logrotate
  ansible.builtin.apt:
    name: logrotate
    state: present

- name: Configure Logrotate for RemnaNode
  ansible.builtin.copy:
    dest: /etc/logrotate.d/remnanode
    owner: root
    group: root
    mode: "0644"
    content: |
      /var/log/remnanode/*.log {
          size 50M
          rotate 5
          compress
          missingok
          notifempty
          copytruncate
          su {{ ansible_user }} {{ ansible_user }}
      }
