---
- name: Get Node Secret Key
  ansible.builtin.uri:
    url: "https://{{ panel_domain }}/api/keygen"
    method: GET
    headers:
      Authorization: "Bearer {{ remnawave_api_token }}"
    status_code: 200
  register: node_secret_key_response
  retries: 5
  delay: 3
  until: node_secret_key_response.status == 200
  when: remnawave_api_token | length > 0

- name: Write Node Secret Key to local .env
  ansible.builtin.lineinfile:
    path: "{{ playbook_dir }}/../../.env"
    regexp: "^SECRET_KEY="
    line: "SECRET_KEY='{{ node_secret_key_response.json.response.pubKey }}'"
    create: true
  delegate_to: localhost
  become: false
  when: node_secret_key_response is defined and node_secret_key_response.status == 200
