### APP ###
APP_PORT={{ lookup('ansible.builtin.env', 'APP_PORT') | default('3000', true) }}
METRICS_PORT={{ lookup('ansible.builtin.env', 'METRICS_PORT') | default('3001', true) }}

### API ###
# Possible values: max (start instances on all cores), number (start instances on number of cores), -1 (start instances on all cores - 1)
# !!! Do not set this value more than physical cores count in your machine !!!
API_INSTANCES={{ lookup('ansible.builtin.env', 'API_INSTANCES') | default('1', true) }}

### DATABASE ###
DATABASE_URL="postgresql://{{ lookup('ansible.builtin.env', 'POSTGRES_USER') | default('postgres', true) }}:{{ lookup('ansible.builtin.env', 'POSTGRES_PASSWORD') | default('postgres', true) }}@remnawave-db:5432/{{ lookup('ansible.builtin.env', 'POSTGRES_DB') | default('postgres', true) }}"

### REDIS ###
REDIS_HOST={{ lookup('ansible.builtin.env', 'REDIS_HOST') | default('remnawave-redis', true) }}
REDIS_PORT={{ lookup('ansible.builtin.env', 'REDIS_PORT') | default('6379', true) }}

### JWT ###
### CHANGE DEFAULT VALUES ###
JWT_AUTH_SECRET={{ lookup('ansible.builtin.env', 'JWT_AUTH_SECRET') | default('change_me', true) }}
JWT_API_TOKENS_SECRET={{ lookup('ansible.builtin.env', 'JWT_API_TOKENS_SECRET') | default('change_me', true) }}

### TELEGRAM NOTIFICATIONS ###
IS_TELEGRAM_NOTIFICATIONS_ENABLED={{ lookup('ansible.builtin.env', 'IS_TELEGRAM_NOTIFICATIONS_ENABLED') | default('false', true) }}
TELEGRAM_BOT_TOKEN={{ lookup('ansible.builtin.env', 'TELEGRAM_BOT_TOKEN') | default('change_me', true) }}
TELEGRAM_NOTIFY_USERS_CHAT_ID={{ lookup('ansible.builtin.env', 'TELEGRAM_NOTIFY_USERS_CHAT_ID') | default('change_me', true) }}
TELEGRAM_NOTIFY_NODES_CHAT_ID={{ lookup('ansible.builtin.env', 'TELEGRAM_NOTIFY_NODES_CHAT_ID') | default('change_me', true) }}
TELEGRAM_NOTIFY_CRM_CHAT_ID={{ lookup('ansible.builtin.env', 'TELEGRAM_NOTIFY_CRM_CHAT_ID') | default('change_me', true) }}

# Optional
# Only set if you want to use topics
TELEGRAM_NOTIFY_USERS_THREAD_ID={{ lookup('ansible.builtin.env', 'TELEGRAM_NOTIFY_USERS_THREAD_ID') | default('', true) }}
TELEGRAM_NOTIFY_NODES_THREAD_ID={{ lookup('ansible.builtin.env', 'TELEGRAM_NOTIFY_NODES_THREAD_ID') | default('', true) }}
TELEGRAM_NOTIFY_CRM_THREAD_ID={{ lookup('ansible.builtin.env', 'TELEGRAM_NOTIFY_CRM_THREAD_ID') | default('', true) }}

### FRONT_END ###
# Used by CORS, you can leave it as * or place your domain there
FRONT_END_DOMAIN={{ panel_domain }}

### SUBSCRIPTION PUBLIC DOMAIN ###
### DOMAIN, WITHOUT HTTP/HTTPS, DO NOT ADD / AT THE END ###
### Used in "profile-web-page-url" response header and in UI/API ###
### Review documentation: https://docs.rw/docs/install/environment-variables#domains
SUB_PUBLIC_DOMAIN={{ sub_domain }}

### If CUSTOM_SUB_PREFIX is set in @remnawave/subscription-page, append the same path to SUB_PUBLIC_DOMAIN. Example: SUB_PUBLIC_DOMAIN=sub-page.example.com/sub

### SWAGGER ###
SWAGGER_PATH={{ lookup('ansible.builtin.env', 'SWAGGER_PATH') | default('/docs', true) }}
SCALAR_PATH={{ lookup('ansible.builtin.env', 'SCALAR_PATH') | default('/scalar', true) }}
IS_DOCS_ENABLED={{ lookup('ansible.builtin.env', 'IS_DOCS_ENABLED') | default('false', true) }}

### PROMETHEUS ###
### Metrics are available at http://127.0.0.1:METRICS_PORT/metrics
METRICS_USER={{ lookup('ansible.builtin.env', 'METRICS_USER') | default('admin', true) }}
METRICS_PASS={{ lookup('ansible.builtin.env', 'METRICS_PASS') | default('admin', true) }}

# Webhook configuration
# Enable webhook notifications (true/false, defaults to false if not set or empty)
WEBHOOK_ENABLED={{ lookup('ansible.builtin.env', 'WEBHOOK_ENABLED') | default('false', true) }}
# Webhook URL to send notifications to (can specify multiple URLs separated by commas if needed)
# Only http:// or https:// are allowed.
WEBHOOK_URL={{ lookup('ansible.builtin.env', 'WEBHOOK_URL') | default('https://your-webhook-url.com/endpoint', true) }}
### This secret is used to sign the webhook payload, must be exact 64 characters. Only a-z, 0-9, A-Z are allowed.
WEBHOOK_SECRET_HEADER={{ lookup('ansible.builtin.env', 'WEBHOOK_SECRET_HEADER') | default('vsmu67Kmg6R8FjIOF1WUY8LWBHie4scdEqrfsKmyf4IAf8dY3nFS0wwYHkhh6ZvQ', true) }}

### Bandwidth usage reached notifications
BANDWIDTH_USAGE_NOTIFICATIONS_ENABLED={{ lookup('ansible.builtin.env', 'BANDWIDTH_USAGE_NOTIFICATIONS_ENABLED') | default('false', true) }}
# Only in ASC order (example: [60, 80]), must be valid array of integer(min: 25, max: 95) numbers. No more than 5 values.
BANDWIDTH_USAGE_NOTIFICATIONS_THRESHOLD={{ lookup('ansible.builtin.env', 'BANDWIDTH_USAGE_NOTIFICATIONS_THRESHOLD') | default('[60, 80]', true) }}

### Not connected users notification (webhook, telegram)
NOT_CONNECTED_USERS_NOTIFICATIONS_ENABLED={{ lookup('ansible.builtin.env', 'NOT_CONNECTED_USERS_NOTIFICATIONS_ENABLED') | default('false', true) }}
# Only in ASC order (example: [6, 12, 24]), must be valid array of integer(min: 1, max: 168) numbers. No more than 3 values.
# Each value represents HOURS passed after user creation (user.createdAt)
NOT_CONNECTED_USERS_NOTIFICATIONS_AFTER_HOURS={{ lookup('ansible.builtin.env', 'NOT_CONNECTED_USERS_NOTIFICATIONS_AFTER_HOURS') | default('[6, 24, 48]', true) }}

### CLOUDFLARE ###
# USED ONLY FOR docker-compose-prod-with-cf.yml
# NOT USED BY THE APP ITSELF
CLOUDFLARE_TOKEN={{ lookup('ansible.builtin.env', 'CLOUDFLARE_TOKEN') | default('', true) }}

### Database ###
### For Postgres Docker container ###
# NOT USED BY THE APP ITSELF
POSTGRES_USER={{ lookup('ansible.builtin.env', 'POSTGRES_USER') | default('postgres', true) }}
POSTGRES_PASSWORD={{ lookup('ansible.builtin.env', 'POSTGRES_PASSWORD') | default('postgres', true) }}
POSTGRES_DB={{ lookup('ansible.builtin.env', 'POSTGRES_DB') | default('postgres', true) }}