---
- name: Ensure panel directory exists
  file:
    path: /opt/remnawave
    state: directory
    mode: "0755"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Create .env file
  template:
    src: panel.env.j2
    dest: /opt/remnawave/.env

- name: Create docker-compose.yml
  copy:
    src: docker-compose.yml
    dest: /opt/remnawave/docker-compose.yml
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0644"

- name: Start Panel Stack
  community.docker.docker_compose_v2:
    project_src: /opt/remnawave
    state: present
    wait: true
    wait_timeout: 120
    build: never
