# Infra secrets
---
VULTR_API_KEY=""
CLOUDFLARE_API_TOKEN=""


#########
# Panel #
#########
---
# If you want to deploy nodes only you should populate PANEL_API_TOKEN manually
# But If you're deploying a panel using this setup - it will be populated automatically
PANEL_API_TOKEN=''

# If you're restoring the panel you should paste the old admin creds, if you have them, or run restore with NEW_PANLE_SECRETS=1
# Defaults to "admin" 
PANEL_ADMIN_USERNAME=''
# Pattern:^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{24,}$
PANEL_ADMIN_PASSWORD=''

### Panel's .env 

# You can configure panel secrets here. 
# If you're restoring the panel you should paste here your old .env secrets (JWT, postgres creds) for restore to be successful
# If you don't have an access to your old .env you can run restore with NEW_PANEL_SECRETS=1 which will recrete the admin and delete old API tokens 

### JWT ###
### CHANGE DEFAULT VALUES ###
JWT_AUTH_SECRET='change_me'
JWT_API_TOKENS_SECRET='change_me'

### TELEGRAM NOTIFICATIONS ###

TELEGRAM_BOT_TOKEN=''

### PROMETHEUS ###
### Metrics are available at http://127.0.0.1:METRICS_PORT/metrics
METRICS_USER=admin
METRICS_PASS=admin

### WEBHOOK ###
# Webhook URL to send notifications to (can specify multiple URLs separated by commas if needed)
# Only http:// or https:// are allowed.
WEBHOOK_URL=https://your-webhook-url.com/endpoint
### This secret is used to sign the webhook payload, must be exact 64 characters. Only a-z, 0-9, A-Z are allowed.
WEBHOOK_SECRET_HEADER=''

### Database ###
# DATABASE_URL will be constructed automatically using these values
# FORMAT: postgresql://{user}:{password}@{host}:{port}/{database}
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres


#########
# Nodes #
#########
---
# Will be populated automatically during panel deploy
SECRET_KEY=''


##################
# Krisa Bot .env #
##################

KRISA_BOT_TOKEN=''
# Unique telegram id, not a username
KRISA_BOT_ADMIN_ID=''

# TG
# generate with openssl rand -hex 16
KRISA_BOT_TG_WEBHOOK_PATH='/webhook/tg/'
KRISA_BOT_TG_WEBHOOK_SECRET=''

# Remna
KRISA_BOT_REMNAWAVE_API_TOKEN=''
# Panel webhook path, should match the webhook path in the panel .env
KRISA_BOT_REMNAWAVE_WEBHOOK_PATH='/webhook/remnawave/'

# Yookassa
# Don't forget to set it in the yookassa shop
KRISA_BOT_YOOKASSA_WEBHOOK_PATH='/webhook/yookassa/'
KRISA_BOT_YOOKASSA_SHOP_ID=''
KRISA_BOT_YOOKASSA_SECRET_KEY=''


###########
# Backups #
###########
---
## Telegram Bot Token (for sending backups)
BACKUP_BOT_TOKEN=''
## Telegram Chat ID to send backups to
BACKUP_BOT_ADMIN_ID=''
## Days to keep old backups (default: 7)
BACKUP_RETENTION_DAYS=7
## GPG encryption password for backups
BACKUP_PASSWORD=''