.env
venv/
.venv/
.envrc

# --- Terraform ---
**/.terraform/
terraform/state/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# --- Ansible ---
configuration/inventory/
.ansible/
ops/.ansible/

# --- General/Misc ---
*.log
__pycache__/
*.retry
nodes.yaml
panel.yaml

# --- Backups ---
backups/*.gpg