.venv/
.env

# --- Terraform ---
**/.terraform/
terraform/state/
*.tfstate
*.tfstate.*
*.tfvars

# --- Ansible ---
configuration/inventory/
.ansible/
ops/.ansible/

# --- General/Misc ---
__pycache__/
*.retry