venv/
.env

# --- Terraform ---
# Ignore the local state directory and files (regardless of location)
**/.terraform/
terraform/state/
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars

# --- Ansible ---
ansible/.vault_pass
ansible/vars/secrets.yml
ansible/inventory/

# --- General/Misc ---
__pycache__/
*.retry