# Backup configuration
BOT_TOKEN={{ lookup('ansible.builtin.env', 'BOT_TOKEN') }}
ADMIN_ID={{ lookup('ansible.builtin.env', 'ADMIN_ID') }}
BACKUP_PASSWORD={{ lookup('ansible.builtin.env', 'BACKUP_PASSWORD') }}
BACKUP_RETENTION_DAYS={{ lookup('ansible.builtin.env', 'BACKUP_RETENTION_DAYS') | default('7', true) }}
