# Backup configuration
BACKUP_BOT_TOKEN={{ lookup('ansible.builtin.env', 'BACKUP_BOT_TOKEN') }}
BACKUP_BOT_ADMIN_ID={{ lookup('ansible.builtin.env', 'BACKUP_BOT_ADMIN_ID') }}
BACKUP_PASSWORD={{ lookup('ansible.builtin.env', 'BACKUP_PASSWORD') }}
BACKUP_RETENTION_DAYS={{ lookup('ansible.builtin.env', 'BACKUP_RETENTION_DAYS') | default('7', true) }}
