services:
    remnanode:
        container_name: remnanode
        hostname: remnanode
        image: remnawave/node:2.2.2
        restart: always
        network_mode: host
        env_file:
            - .env
        volumes:
            - '/var/log/remnanode:/var/log/remnanode'
