---
- name: Wait for Connectivity
  hosts: remnawave_panel
  gather_facts: false
  tasks:
    - name: Wait for SSH to be available
      ansible.builtin.wait_for_connection:
        delay: 0
        timeout: 180
        connect_timeout: 2
        sleep: 1

- name: Deploy Remnawave Panel
  hosts: remnawave_panel
  become: true

  vars:
    docker_arch_map:
      x86_64: amd64
      aarch64: arm64
    # List of users to add to the docker group
    docker_users:
      - "{{ ansible_user }}"
      - "{{ lookup('ansible.builtin.env', 'ADMIN_USERNAME') | default('admin', true) }}"

  roles:
    # Default ufw setup (incoming/outgoing + ssh).
    # 80 and 443 are managed by docker using iptables
    - ufw
    - docker
    - remna_panel/setup
    - remna_panel/caddy
    - remna_panel/creds
    - role: remna_panel/subpage
      when: sub_domain | default('') | length > 0
    - reboot
