---
- name: Update and upgrade apt packages
  ansible.builtin.apt:
    update_cache: true
    upgrade: true
    cache_valid_time: 3600

- name: Install dependencies
  ansible.builtin.apt:
    name:
      - ufw
      - curl
      - gnupg
      - lsb-release
      - ca-certificates
    state: present

- name: Configure basic Firewall Rules (SSH, Web)
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "22"
    - "80"
    - "443"

- name: Configure UFW Default Outgoing
  community.general.ufw:
    direction: outgoing
    policy: allow

- name: Configure UFW Default Incoming
  community.general.ufw:
    direction: incoming
    policy: deny
    state: enabled
