# Node Fleet Definition
#
# Regions:
#   ams: Amsterdam (NL)
#   nrt: Tokyo (JP)
#   itm: Osaka (JP)
#   ewr: New Jersey (US)
#   bom: Mumbai (IN)
#
# Plans:
#   vc2-1c-1gb:       $5  (1GB RAM, 1TB bandwidth)
#   vhf-1c-1gb:       $6  (High Frequency Intel, 1GB RAM, 2TB bandwidth)
#   vhp-1c-1gb-amd:   $6  (High Performance AMD, 2GB RAM, 3TB bandwidth)
#   vhp-1c-1gb-intel: $6  (High Performance Intel, 2GB RAM, 3TB bandwidth)

# Domain Configuration
# zone: The Cloudflare zone (domain). A separate subdomain will be created for each group id. 
# Multiple nodes under the same id will be DNS balanced
# panel_domain: The full domain of the panel needed for node connection
domain:
  zone: example.com
  panel_domain: panel.example.com

settings:
  node_port: 2234
  config_profile_uuid: ""
  active_inbounds: []
  # IP of monitoring server for node_exporter and cAdvisor firewall rules (optional)
  monitoring_ip: ""
  # Security feature: If running Ansible from a server with static IP, specify it here to restrict SSH access
  ansible_allowed_ip: ""
  # Admin user for SSH access to servers
  admin:
    username: "admin"
    key_path: "/path/to/ssh/key"

# Node Groups
# Define clusters of nodes by region.
# id: Used for hostname generation (remna-node-{id}-{index})
# count: Number of nodes to deploy in this group
node_groups:
  # Example: 2 Nodes in Amsterdam (remna-node-nl-0, remna-node-nl-1)
  - region: ams
    id: nl
    count: 2
    plan: vhp-1c-1gb-intel

  # Example: 1 Node by default
  - region: bom
    id: in
    count: 1
    plan: vhp-1c-1gb-intel