APP_PORT=3010
REMNAWAVE_PANEL_URL=http://remnawave:3000
REMNAWAVE_API_TOKEN={{ remnawave_api_token }}
# Serve at custom root path, for example, this value can be: CUSTOM_SUB_PREFIX=sub
# Do not place / at the start/end
CUSTOM_SUB_PREFIX=
# Support Marzban links
MARZBAN_LEGACY_LINK_ENABLED=false
MARZBAN_LEGACY_SECRET_KEY=
# If you use "Caddy with security" addon, you can place here X-Api-Key, which will be applied to requests to Remnawave
Panel.
CADDY_AUTH_API_TOKEN=